@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #131313;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: rgb(171, 171, 171);
  font-family: 'IBM Plex Mono', monospace;
}

#center-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  font-weight: 700;
  font-size: 10vw;
}

#quote {
  text-align: center;
  font-size: 1.5vw;
  margin: 1% 0%;
}

#quote-content {
  font-weight: 100;
  color: white !important;
  font-size: 1vw;
}

.divider-line {
  background-color: white;
  height: 0.1px;
  width: 65%;
  margin-bottom: 1%;
}

#stats-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.stat-box {
  width: 40%;
  text-align: center;
  margin: 1% 3%
}

.stat-title {
  font-weight: 100;
  font-size: 2.5vw;
  text-align: center;
}

#bonsai {
  height: 20vw;
  margin-bottom: 2%;
}

.data {
  margin-top: 1%;
  font-weight: 300;
  font-size: 1.2vw;
}

#bottom {
  display: inline;
  color: rgb(94, 94, 94);
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 4%;
  font-size: 1.2vw;
}

#contact {
  display: inline;
}

#settings {
  display: inline;
}

#addFriends {
  display: inline;
}

a {
  text-decoration: none;
  color: rgb(94, 94, 94);
}

a:visited {
  text-decoration: none;
  color: rgb(94, 94, 94);
}

a:hover {
  cursor: pointer;
  opacity: 0.5;
}

#total-time-expand {
  height: 20vw;
  margin-bottom: 2%;
  display: none;
}

#time-today-expand {
  height: 20vw;
  margin-bottom: 2%;
  display: none;
}

#top-sites-expand {
  height: 20vw;
  margin-bottom: 2%;
  display: none;
}

#friends-stats-expand {
  height: 20vw;
  margin-bottom: 2%;
  display: none;
}

.expanded-data-list {
  font-weight: 100;
  text-align: center;
  line-height: 2em;
  font-size: 1.2vw;
  margin-top: 3%;
}

#settings-container {
  background-color: rgba(26, 26, 26, 0.94);
  z-index: 100;
  width: 55%;
  height: 33%;
  position: absolute;
  justify-content: center;
  border:0.1vw solid rgb(94, 94, 94);
  display: none;
  padding: 1vw 0vw;
}

#friends-container {
  background-color: rgba(26, 26, 26, 0.94);
  z-index: 100;
  width: 65%;
  height: 50%;
  position: absolute;
  justify-content: center;
  border:0.1vw solid rgb(94, 94, 94);
  display: none;
  padding: 1vw 0vw;
}

#settings-title {
  font-size: 3vw;
  color: rgb(171, 171, 171);
  text-align: center;
  font-weight: 300;
}

#settings-content-container {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#settings-content-container button {
  font-family: 'IBM Plex Mono', monospace;
  background-color: transparent;
  color: rgb(94, 94, 94);
  padding: 1vw;
  border:0.1vw solid rgb(94, 94, 94);
  font-size: 1.1vw;
}

#settings-content-container button:hover {
  opacity: 0.7;
  cursor: pointer;
}

#settings-content {
  display: flex;
  width: 90%;
  justify-content: space-around;
}

#friends-content {
  display: flex;
  width: 60%;
  justify-content: space-around;
}

#settings-flexbox {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  flex-direction: column;
}

#settings-flexbox #bottom{
  position: relative;
}

input {
  border:0.1vw solid rgb(94, 94, 94);
  color: rgb(94, 94, 94);
  background-color: rgba(26, 26, 26, 0.94);
  padding-left: 1vw;
}

#user-info {
  margin-top: 3%;
  text-align: center;
}

.remove-friend-x:hover 
{
  cursor: pointer;
  opacity: 0.5;
}